{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/graph2.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
{% endblock style %}

{% block title %}
Graph
{% endblock title %}

{% block content %}

<div class="info">
    <h1>Repository: {{ repoName }}</h1>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="line_card">
    <canvas id = "lineChart"></canvas>
</div>

<div class="pie_card">
    <canvas id = "pieChart"></canvas>
</div>


<script>
    Chart.defaults.color = '#d1d1d1';
    var ctx = document.getElementById("lineChart").getContext("2d");
    var gradient = ctx.createLinearGradient(0, 0, 0, 400);
    gradient.addColorStop(0, "#e14ecb61");
    gradient.addColorStop(0.5, "#e14ecb33");
    gradient.addColorStop(1, "#e14ecb01");
    var lineChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: {{ labels1 | safe }},
            datasets: [
                {
                    label: "Commits",
                    data: {{ values1 | safe }},
                    backgroundColor: gradient,
                    fill: true,
                    borderColor: "#e14eca",
                    lineTension: 0.1
                }
            ]
        },

        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'text space ',
                    font: {
                        size: 20
                    }
                }
            },

            scales: {
                y: {
                    ticks: {color: "#d1d1d1", beginAtZero: true},
                },

                x: {
                    ticks: {color: "#d1d1d1"},
                    grid: {
                        color: "#e14ecb21"
                    }
                }
            },

            maintainAspectRatio: false

        }
    });

    let colorPalette = {{colorList | safe}};
    var ctx = document.getElementById("pieChart").getContext("2d");
    var pieChart = new Chart(ctx, {
        type: "pie",
        data: {
            labels: {{ labels2 | safe }},
            datasets: [
                {
                    label: "Lines",
                    data: {{ values2 | safe }},
                    fill: true,
                    backgroundColor: colorPalette,
                    borderColor: "#fff",
                    borderWidth: 3
                }
            ]
        },

        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'text space ',
                    font: {
                        size: 20
                    },
                    padding: {
                        bottom: 30
                    }
                },

                legend: {
                    position: "left",
                    labels: {
                        font: {
                            size: 16
                        },
                        padding: 15
                    }
                }
            },

            maintainAspectRatio: false
        }
    });
</script>


{% endblock content %}